.link {
  color: var(--main-black-color);
  text-decoration: none;
}

/* .link:hover,
.link:focus {
  color: yellow;
} */

/* .active {
  color: red;
} */

.container {
  display: flex;
  gap: 130px;
  padding: 24px 120px;
  border-bottom: 1px solid var(--main-grey-color);
}

.nav {
  display: flex;
  gap: 40px;
}
.logo {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.logoSpan {
  font-weight: 700;
  color: var(--main-blue-color);
}
